VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_COLLECTION_ID=
VITE_APPWRITE_ENV_COLLECTION_ID=
# Esta clave SOLO la usará Python, Tauri la ignorará
APPWRITE_API_KEY=
PROJECT_ID=